.titleImg {
    width: 100%;
    padding: 110px;
}

.heading {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 48px;
}

.pouring-gif {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}